<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870439352325-lo94t5bfrmvjfo8narut4tlm3162onn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870439352325-lo94t5bfrmvjfo8narut4tlm3162onn0</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Je8R-qSn7hJwOU8KprcpKac-oBdMduM</string>
	<key>GCM_SENDER_ID</key>
	<string>870439352325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseTodo</string>
	<key>PROJECT_ID</key>
	<string>simple-todo-256ec</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-todo-256ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870439352325:ios:46e88beacf00434ee5446c</string>
</dict>
</plist>